<%#
teasiu@qq.com神雕

-%>
<%+header%>
<h2><a>狂奔在路由器上的小站</a></h2>
</br>
<h4><a>本固件已经内置了一个php+sqlite+uhttpd的建站环境以及一个微型博客系统.</a><h4>
</br>
<h4><a>建站环境探针请点击这里：<a href="/info.php" target="_blank">phpinfo探针</a></a><h4>
</br>
<h4><a>博客首次安装请点击这里：<a href="/blog/install.php" target="_blank">Typecho安装</a></a><h4>
</br>
<h4><a>博客安装后管理请点击这里：<a href="/blog/" target="_blank">博客首页</a></a><h4>
</br>
</br>
</br>
<h5><a>平时局域网内部学习完全没有问题，如果进行大数据的博客应用，建议在安装时将数据库文档的位置填写到外部usb挂载的磁盘上.</a><h5>
</br>
<h5><a>安装错误也没有关系，恢复出厂设置就全都还原了。</a><h5>
</br>
<h5><a>博客其实就是一个网站，你可以配合花生壳等免费域名解析指向你的ip，使外网可以访问你的博客。也可以家庭内部使用，分享生活的点滴。</a><h5>
</br>
</br>
</br>
<%+footer%>
