config samba
	option 'name'			'Newifi3'
	option 'workgroup'		'WORKGROUP'
	option 'description'		'Newifi3'
	option 'homes'			'1'

config sambashare
	option browseable 'yes'
	option name 'usb'
	option path '/mnt/sda1'
	option read_only 'no'
	option guest_ok 'yes'
	option create_mask '0777'
	option dir_mask '0777'
